* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", Helvetica, Arial, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: white;
}

.header--logo-container {
  display: flex;
  align-items: center;
  gap: 7px;
  padding-left: 20px;
}

.header--logo {
  font-size: 1.5rem;
  line-height: 25px;
}

.header--title {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: -0.1em;
}

.header--desc {
  padding-right: 40px;
  font-family: 'Inter';
  font-size: 1rem;
}
